/* Variables   */
root {
    --maincolor: #333745;
    --secondcolor: #E63462;
    --thirdcolor: #FE5F55;
    --mainbackcolor: #C7EFCF;
    --secondbackcolor: #EEF5DB;
}


/*  Normalize */

body {
    min-height: 100vh;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    color: var(--maincolor);
    font-family: 'Roboto', sans-serif;
}

#contenedor {    background-color: #EEF5DB; 
}

* {box-sizing: border-box;}

h1 { font-family: 'Libre Baskerville', serif;
    font-size: 32px;
}

h2 {font-family: 'Libre Baskerville', serif;
    font-size: 28px;
}

p {font-family: 'Roboto', sans-serif;
    font-size: 12;}

/* Header -- Logo y menú */

#contenedor header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: solid 2px #333745;
    align-items: center;
    margin: 0 24px;
}
.users, .menu {
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

ul {list-style-type: none    ;}
img {width: 100%;}

.users__item { padding: 10px;}

.menu__item {font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #0093ff;color: white;}

.menu__item a {color:white; text-decoration: none;}

/*  Seccion  PASOS*/

.comohacer {display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box ;
    gap: 1rem;
    margin: 2rem 0;}

.pasos {display: flex;
        flex-direction: column;
        gap: 0.2rem;
        background-color: #C7EFCF;
        flex-basis: 25%;
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 250px;
        transition: transform .7s;
        /*flex: 1 1 200px;  Respecto a contenedor padre  */ 
        }

.pasos:hover {transform: scale(1.1, 1.1)}

.pasos__titulo {color: #333745; font-size: 24px;
    font-family: 'Libre Baskerville', serif;
    margin: 5px}

.pasos__subtitulo {color: #E63462; font-size: 20px;
        font-family: 'Libre Baskerville', serif;
        margin: 5px}
    

/* Seccion ofertas destacados*/

.offers {
    display: grid; 
    flex-wrap: wrap;
    grid-template-columns: 3fr 2fr 2fr;
    grid-gap: 5px;
    grid-template-areas: "d0 d1 d2"
                         "d0 d3 d3" ;
    padding: 10px; 
    margin: 0 1rem;
}

#offers__tit {border: 2px solid #333745;
    font-size: 40;
    box-sizing: border-box;
    align-items: center;
    padding: 10px 15px;
    margin: 5px 0;
    text-align: center;
    background-image: linear-gradient(to bottom, yellow, red, yellow);
    animation-name: shrink-me;
    animation-duration: 5s;
    animation-iteration-count: 10;
    animation-delay: 3s;
    /* transition: border 3s; */
}

/* #offers__tit:hover {
    border: 3px #E63462;
} */

.offers__product {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: gray solid 1px;
    background-color: rgb(247, 247, 244);
}

.offers__product#offer3 {
    display: flex;
    flex-direction: row;
}

.offers__product#offer3 .offers__product__info {
    display: flex;
    flex-direction: column;
}

.offers__product h3 {
    color: #333745; font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    margin: 5px}

.offers__product img {
    box-sizing: border-box;
    width: 100%;
    }

    .offers__product .precio {
    color: #333745; font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    margin: 5px}

#offer0 {
    grid-area: d0;
}

#offer1 {
    grid-area: d1;
}
#offer2 {
    grid-area: d2;
}
#offer3 {
    grid-area: d3;
}
#offer3 img {width: 300px;}

/* Pagina como.html   */

.como {display:flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0 15px;
    }

    /* PAgina comercios */

#comerciosadh { margin: 1rem;

}

.comercios {display:flex;
        flex-direction: row;
        flex-wrap: wrap;

        margin: 0 1rem;
        gap: 10px;
        }   
    
.ciudad {
    background-color: #C7EFCF;
    padding: 10px;
    flex-basis: 25%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 250px;
}

.ciudad h3 {color: #E63462;}

/* Footer  */

footer {margin-top: 1rem;
    padding-top: 1rem;
    border-top: solid 2px;
    border-color: var(--secondcolor);
}

@keyframes shrink-me {
    0%   {margin: 0 1rem; font-size: 28;}
    50%  {margin: 0 8rem; font-size: 14;}
    100% {margin: 0 1rem; font-size: 28;}
}